@{
    ViewBag.Title = "KTUN | Hakkımda";
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KTUN | Hakkımda</title>
    <link rel="shortcut icon" href="~/img/logo_2.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="keywords" content="moodle, Konya Teknik Üniversitesi İşletmede Mesleki Eğitim: Siteye giriş yap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/styles/custom/css/KTUN-StudentPage.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-ktun navbar-expand-lg">
        <div class="container-fluid">
            <!-- Logo ve Üniversite İsmi -->
            <a class="navbar-brand d-flex align-items-center" href="#">
                <div class="ktun-logo">
                    <img src="https://lms.ktun.edu.tr/pluginfile.php/1/theme_remui/loginpanellogo/1756726302/logo.png"
                        style="height: 50px;" alt="KTUN Logo">
                </div>
            </a>

            <!-- Mobil menü butonu -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Menüyü aç/kapat">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-list-nested" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5m-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5" />
                </svg>

            </button>

            <!-- Menü içeriği -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link main-nav-link" href="/Student/StudentPage">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main-nav-link" href="/Student/StudentPage#controlPanel">Kontrol Paneli</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main-nav-link" href="/Student/StudentPage#internshipDiary">Staj Defteri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main-nav-link" href="/Student/StudentPage#excuse-container">Mazeret
                            Bildir</a>
                    </li>
                </ul>

                <!-- Bildirim ve Mesaj İkonları -->
                <div class="d-flex align-items-center me-4">
                    <!-- Bildirim İkonu -->
                    <div class="dropdown">
                        <a class="notification-icon" href="#" role="button" id="notificationDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path
                                    d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742.16.767.376 1.566.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                            </svg>
                            <span class="notification-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                            <div class="notification-header">
                                <h6>Bildirimler</h6>
                                <a href="#" class="mark-all-read">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-gear" viewBox="0 0 16 16">
                                        <path
                                            d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0" />
                                        <path
                                            d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z" />
                                    </svg>
                                    Mark all read
                                </a>
                            </div>

                            <!-- Bildirim listesi kapsayıcı -->
                            <div class="notification-list">
                                <div class="notification-item">
                                    <div class="notification-content notification-content-ellipsis">
                                        <strong>Konya Teknik Üniversitesi</strong> hesabınızda yeni oturum açın...
                                    </div>
                                    <div class="notification-time">1 saat 20 dk önce</div>
                                    <a href="#" class="view-notification-link">Tam bildirimi görüntüle</a>
                                </div>

                                <div class="notification-item">
                                    <div class="notification-content notification-content-ellipsis">
                                        <strong>Mesleki Staj_SB:0_Yazılım Mühendisliği</strong> 'a hoş geldiniz...
                                    </div>
                                    <div class="notification-time">11 saat 24 dk önce</div>
                                    <a href="#" class="view-notification-link">Tam bildirimi görüntüle</a>
                                </div>

                                <div class="notification-item">
                                    <div class="notification-content notification-content-ellipsis">
                                        <strong>Python Programlama_SB:0_Yazılım Mühendisliği</strong> 'a hoş geldiniz...
                                    </div>
                                    <div class="notification-time">11 saat 26 dk önce</div>
                                    <a href="#" class="view-notification-link">Tam bildirimi görüntüle</a>
                                </div>
                            </div>

                            <a href="#" class="view-all-link">View all notifications</a>
                        </div>
                    </div>

                    <!-- Mesaj İkonu -->
                    <div class="dropdown">
                        <a class="message-icon" href="#" role="button" id="messageDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                            </svg>
                            <span class="message-badge">1</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="messageDropdown">
                            <div class="notification-header">
                                <h6>Mesajlar</h6>
                            </div>
                            <div class="notification-item">
                                <div class="notification-content">
                                    <strong>Fatma Zehra Solak</strong>: Staj defteriniz incelenmiştir. Lütfen
                                    düzeltmeleri yapınız...
                                </div>
                                <div class="notification-time">2 gün önce</div>
                                <a href="#" class="view-notification-link">Mesajı görüntüle</a>
                            </div>
                            <a href="#" class="view-all-link">Tüm mesajları görüntüle</a>
                        </div>
                    </div>
                </div>

                <!-- Kullanıcı menüsü -->
                <div class="d-flex align-items-center">
                    <div class="dropdown">
                        <span class="sized-box"></span>
                        <a href="#" class="user-button" role="button" id="userDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="user-initials">
                                @if (ViewBag.UserName is string name && !string.IsNullOrEmpty(name) &&
                                                                ViewBag.UserSurname is string surname &&
                                                                !string.IsNullOrEmpty(surname))

                                {
                                    @($"{name[0]}{surname[0]}")
                                }
                                else
                                {
                                    @("M")
                                }
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                            </svg>
                        </a>
                        <span class="sized-box"></span>
                        <ul class="dropdown-menu user-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/Home/aboutme">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor"
                                        class="bi bi-person" viewBox="0 0 16 16">
                                        <path
                                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                    </svg>
                                    Profil</a>
                            </li>
                            <li><a class="dropdown-item" href="/Student/SuccessNotes">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-journal-bookmark" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8" />
                                        <path
                                            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                                        <path
                                            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                                    </svg>
                                    Başarı notları</a>
                            </li>
                            <li><a class="dropdown-item" href="/Student/StudentPage#calendarContainer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-calendar-event" viewBox="0 0 16 16">
                                        <path
                                            d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                                        <path
                                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                    </svg>
                                    Takvim</a>
                            </li>
                            <li><a class="dropdown-item" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-folder" viewBox="0 0 16 16">
                                        <path
                                            d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z" />
                                    </svg>
                                    Kişisel dosyalar</a>
                            </li>
                            <li><a class="dropdown-item" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-card-text" viewBox="0 0 16 16">
                                        <path
                                            d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                                        <path
                                            d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8m0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
                                    </svg>
                                    Raporlar</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-gear" viewBox="0 0 16 16">
                                        <path
                                            d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0" />
                                        <path
                                            d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z" />
                                    </svg>
                                    Tercihler</a>
                            </li>
                            <li><a class="dropdown-item" href="/Auth/Logout"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right"
                                        viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                        <path fill-rule="evenodd"
                                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                    </svg>Çıkış yap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Ana İçerik -->
    <div class="main-content" style="padding-top: 20px; margin: 80px 200px">
        <div class="container py-4">

            <!-- Hakkımda Profil Kartı -->
            <div id="user-profile-card" class="row mb-4">
                <div class="col-12">
                    <div class="card profile-card">
                        <div class="card-body d-flex align-items-center">
                            <div class="user-initials-lg me-4">
                                @if (ViewBag.UserName != null && ViewBag.UserSurname != null)
                                {
                                    @($"{ViewBag.UserName[0]}{ViewBag.UserSurname[0]}")
                                }
                                else
                                {
                                    @("M")
                                }
                            </div>
                            <div>
                                <h5 class="card-title mb-0 fs-1">@ViewBag.UserName @ViewBag.UserSurname</h5>
                                <p class="text-muted mb-0">Mühendislik ve Doğa Bilimleri Fakültesi</p>
                                <p class="text-muted small mb-0">@ViewBag.Department</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- İşletme Profil Kartı (Başlangıçta Gizli) -->
            <div id="company-profile-card" class="row mb-4 d-none">
                <div class="col-12">
                    <div class="card profile-card">
                        <div class="card-body d-flex align-items-center">
                            <div class="user-initials-lg me-4">
                                @if (ViewBag.Company != null)
                                {
                                    @ViewBag.Company.CompanyName[0]
                                }
                                else
                                {
                                    @("İ")
                                }
                            </div>
                            <div>
                                <h5 class="card-title mb-0 fs-1">@ViewBag.Company?.CompanyName</h5>
                                <p class="text-muted mb-0">@ViewBag.Supervisor?.FirstName @ViewBag.Supervisor?.LastName
                                </p>
                                <p class="text-muted small mb-0">@ViewBag.Supervisor?.Expertise</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="diary-tabs-container">
                <div class="diary-tabs">
                    <div class="diary-tab active" data-tab="about">Hakkımda</div>
                    <div class="diary-tab" data-tab="company">İşletme Hakkında</div>
                </div>
            </div>

            <div class="mt-4">
                <!-- Hakkımda Sekmesi -->
                <div class="diary-tab-content active" id="about-content">
                    <div class="card info-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">T.C. Kimlik No.</div>
                                    <div>@ViewBag.NationalID</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">Öğrenim Yılı</div>
                                    <div>@ViewBag.AcademicYear. Sınıf</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">Okul Numaranız</div>
                                    <div>@ViewBag.SchoolNumber</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">Telefon No</div>
                                    <div>@ViewBag.PhoneNumber</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">E-posta adresi</div>
                                    <div>@ViewBag.Email</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">Adres</div>
                                    <div>@ViewBag.Address</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">Eğitime Başlama/Bitiş Tarihi</div>
                                    <div>@ViewBag.InternshipDetail?.StartDate / @ViewBag.InternshipDetail?.EndDate</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">Haftanın Çalıştığı Günler</div>
                                    <div>@ViewBag.InternshipDetail?.WorkDays</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3" id="id_submitbutton" data-bs-toggle="modal"
                        data-bs-target="#updateFormModal">
                        Bilgileri Güncelle
                    </button>
                </div>

                <!-- İşletme Hakkında Sekmesi -->
                <div class="diary-tab-content" id="company-content">
                    <div class="card info-card">
                        <div class="card-body">
                            <h5 class="card-title mb-4">Genel Bilgiler</h5>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">İşletme Adı</div>
                                    <div>@ViewBag.Company?.CompanyName</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">Vergi Numarası</div>
                                    <div>@ViewBag.Company?.TaxNumber</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">Adres</div>
                                    <div>@ViewBag.Company?.Address</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">Telefon</div>
                                    <div>@ViewBag.Company?.PhoneNumber</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">E-posta</div>
                                    <div>@ViewBag.Company?.Email</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="fw-semibold">Web Sitesi</div>
                                    <div><a href="@ViewBag.Company?.Website"
                                            target="_blank">@ViewBag.Company?.Website</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card info-card mt-4">
                        <div class="card-body">
                            <h5 class="card-title mb-4">Staj Sorumlusu</h5>
                            @if (ViewBag.Supervisor != null)
                            {
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="fw-semibold">Adı Soyadı</div>
                                        <div>@ViewBag.Supervisor.FirstName @ViewBag.Supervisor.LastName</div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="fw-semibold">Telefon</div>
                                        <div>@ViewBag.Supervisor.ContactPhone</div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="fw-semibold">E-posta</div>
                                        <div>@ViewBag.Supervisor.Email</div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="fw-semibold">Uzmanlık Alanı</div>
                                        <div>@ViewBag.Supervisor.Expertise</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <p class="text-muted">Staj sorumlusu bilgileri bulunamadı.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Güncelleme Formu Modal -->
    <div class="modal fade" id="updateFormModal" tabindex="-1" aria-labelledby="updateFormModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateFormModalLabel">Bilgilerinizi Güncelleyin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Home/UpdateAboutMe">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="tcNo" class="form-label">T.C. Kimlik No.</label>
                                <input type="text" id="tcNo" name="tcNo" class="form-control"
                                    value="@ViewBag.NationalID" readonly>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="fullName" class="form-label">Tam Adınız</label>
                                <input type="text" id="fullName" name="fullName" class="form-control"
                                    value="@ViewBag.UserName @ViewBag.UserSurname">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="academicYear" class="form-label">Öğrenim Yılı</label>
                                <input type="text" id="academicYear" name="academicYear" class="form-control"
                                    value="@ViewBag.AcademicYear">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="department" class="form-label">Bölüm</label>
                                <input type="text" id="department" name="department" class="form-control"
                                    value="@ViewBag.Department">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="schoolNo" class="form-label">Okul Numaranız</label>
                                <input type="text" id="schoolNo" name="schoolNo" class="form-control"
                                    value="@ViewBag.SchoolNumber">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phoneNumber" class="form-label">Telefon No</label>
                                <input type="text" id="phoneNumber" name="PhoneNumber" class="form-control"
                                    value="@ViewBag.PhoneNumber">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-posta adresi</label>
                            <input type="email" id="email" name="Email" class="form-control" value="@ViewBag.Email">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Adres</label>
                            <textarea id="address" name="Address" class="form-control"
                                rows="3">@ViewBag.Address</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-popover">
        <img src="~/img/footerLogo.png" alt="KTUN Logo" height="80">
        <a class="no-click" href="https://www.ktun.edu.tr/tr/Birim/Iletisim/?brm=ykJ8AXlJAZwqxw4bNyp+VQ=="
            target="_blank" rel="noopener">İletişim</a>
    </footer>

    <button id="scrollToTop" title="Yukarı Çık">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-up-short"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5" />
        </svg>
    </button>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tabs = document.querySelectorAll('.diary-tab');
            const tabContents = document.querySelectorAll('.diary-tab-content');
            const userProfileCard = document.getElementById('user-profile-card');
            const companyProfileCard = document.getElementById('company-profile-card');

            tabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    tabs.forEach(t => t.classList.remove('active'));
                    tabContents.forEach(c => c.classList.remove('active'));

                    tab.classList.add('active');
                    const tabId = tab.getAttribute('data-tab');
                    document.getElementById(tabId + '-content').classList.add('active');

                    if (tabId === 'company') {
                        userProfileCard.classList.add('d-none');
                        companyProfileCard.classList.remove('d-none');
                    } else {
                        userProfileCard.classList.remove('d-none');
                        companyProfileCard.classList.add('d-none');
                    }
                });
            });
        });
    </script>
</body>

</html>